.color-active {
  color: #46f780 !important;
  border-bottom: none !important;
}

.is-active {
  @extend .color-active;

  a {
    @extend .color-active;
  }
}

.is-active::before {
  content: '';
  transition-duration: 0.3s;
  transition-delay: 0s;
  transition-property: all;
  transition-timing-function: ease-out;
  transform: rotate(-45deg);
  width: 42px;
  background-color: #46f780;
}
