.is-active {
  li {
    a {
      color: #46f780 !important;
      border-bottom: none !important;
    }
  }
}

.is-active {
  &::before {
    content: '';
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-property: all;
    transition-timing-function: ease-out;
    transform: rotate(-40deg);
    width: 42px;
    height: 1px;
    background-color: #46f780;
    position: absolute;
    top: 50%;
    left: calc(50% - 21px);
  }

  @media only screen and (max-width: 768px) {
    &::before {
      display: none;
    }
  }

  li.menu-item-has-children {
    a::before {
      display: none;
    }
  }
}